.ce_timelineSliderStart {
  margin-bottom: 20px;
}

.roadmap.roadmap--orientation-horizontal {
  width: 90%;

  .roadmap__events__event {
    height: 250px;

    .event__date {
      font-size: 22px;
    }
  }

  .roadmap__events {
    padding: 250px 0;
  }
}

.roadmap.roadmap--orientation-vertical {
  margin: 100px auto 50px;
  position: relative;

  .roadmap__events__event {
    .event {
      width: 50%;
      top: -15px;
    }

    &:nth-child(odd) {
      .event__date {
        text-align: right;
        padding-right: 70px;
        font-size: 22px;
      }

      .event__content {
        position: absolute;
        right: -390px;
        width: 100%;
        top: 0;
        text-align: left;
      }

      .event {
        top: -15px;
      }
    }

    &:nth-child(even) {
      .event__date {
        text-align: left;
        font-size: 22px;
        padding-left: 70px;
      }

      .event__content {
        position: absolute;
        left: -390px;
        width: 100%;
        text-align: right;
        top: 0;
      }
    }
  }

  .roadmap__navigation {
    margin: 0;

    > :last-child {
      right: 0;
      width: 100%;
      text-align: center;
      bottom: 0;
      top: inherit;

      a {
        transform: rotate(90deg);
      }
    }

    > :first-child {
      text-align: center;
      width: 100%;
      top: -50px;

      a {
        transform: rotate(90deg);
      }
    }
  }
}

.roadmap.roadmap--orientation-horizontal,
.roadmap.roadmap--orientation-vertical {
  .roadmap__navigation>* a {
    font-size: 40px;
    font-weight: 700;
  }

  .roadmap__navigation>:last-child {
    right: 0;
  }

  .roadmap__navigation>:first-child {
    left: 0;
  }

  h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .roadmap__events__event:after, .roadmap__events__event:before, .roadmap__events:after {
    background-color: #000;
  }
}
